<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.moviehub">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".utils.FirebaseApp"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MovieHub">

        <receiver
            android:name=".MyBroadcastReceiver"
            android:enabled="true"
            android:exported="false" >
        </receiver>
        <activity
            android:name="com.example.moviehub.Rooms.SwipeMatchActivity"
            android:exported="true" />
        <activity
            android:name="com.example.moviehub.Rooms.WaitingRoomActivity"
            android:exported="false" />
        <activity
            android:name="com.example.moviehub.Rooms.RoomActivity"
            android:exported="false" />
        <activity
            android:name="com.example.moviehub.profile.AddEventActivity"
            android:exported="false" />
        <activity
            android:name="com.example.moviehub.profile.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.moviehub.Rooms.FriendsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.moviehub.startScreens.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.moviehub.startScreens.SignUpScreen"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.moviehub.startScreens.LoginScreen"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.moviehub.home.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <service android:name=".VibrationService"/>

    </application>


</manifest>